* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: #6B7280;
    --background-color: #FEE2E2;
  }
  
  body {
    background-color: var(--background-color);
    font-family: 'Work Sans', sans-serif;
  }
  
  main {
    text-align: center;
    margin: 3rem;
  }
  
  h2 {
    font-size: xx-large;
    margin: 2rem;
  }
  
  .input-label {
    display: block;
    font-size: large;
    font-weight: 600;
  }
  
  .input {
    font-size: 14px;
    outline: #fff;
    padding: 0.6rem 1rem;
    margin: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
  }
  
  #show-btn {
    background: var(--primary-color);
    border: none;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: #fff;
    margin: auto;
    display: block;
  }
  
  #result {
    font-size: larger;
    margin: 2rem 0;
  }
  
 
  .footer {
    margin-top: 4rem;
  padding: 0rem 1rem;
  text-align: center;
  color: black;
}

.footer .links {
  color: black;
}

.footer .fab{
  font-size: 1rem;
  padding: 0.5rem;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
  margin-bottom: 2rem;
}

.footer ul {
  padding-inline-start: 0px;
}


.inline-list{
    display: inline;
    margin: 0rem 1rem;
}

.link{
    text-decoration: none;
    padding: 0.5rem;
}

.no-bullets{
    list-style: none;
}